body {
  background-color: darkcyan;
}

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  overflow: hidden;
}

#gridContainer {
  flex-wrap: wrap;
}

.navBar--height {
  height: 4em;
}
.main--height {
  height: calc(100vh - 4em);
}

.hide {
  display: none;
}

.block {
  display: block;
}
.card {
  border: 1px solid (0, 0, 0);
  background-color: aliceblue;
  height: 20px;
  width: calc(100% / 10);
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
}
.btn {
  border-radius: 0;
}
.card--active {
  color: white;
  background-color: rgb(85, 85, 248);
}
.card--disactive {
  background-color: darkred;
}
