body {
  background-color: darkcyan;
}

* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

#gridContainer {
  flex-wrap: wrap;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  background-color: aliceblue;
  height: 20px;
  width: calc(100% / 10);
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
}
.btn {
  border-radius: 0;
}
.card--active {
  color: white;
  background-color: rgb(85, 85, 248);
}
.card--disactive {
  background-color: darkred;
}
